.inputBox {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin-right: 4px;
  width: 15rem;
}
.inputBtn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.input-container {
  margin-bottom: 1rem;
}
